{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<!-- <h3>{{ info }}</h3> -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Status</th>
            <th scope="col">Box Number</th>
            <th scope="col">Destination Address</th>
            <th scope="col">Pickup Address</th>
            <th scope="col">Daparture Date</th>
            <th scope="col">Arrival Date</th>
            <th scope="col">Pickup Date</th>
            <th scope="col">Cost</th>
            <th scope="col">HBL Number</th>
            <th scope="col">Optional Message</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    {% for entry in entries %}
    <tbody>
        <tr>
            <th scope="row">{{ entry.order_number }}</th>
            <td>{{ entry.status|safe }}</td>
            <td>{{ entry.number_box|safe }}</td>
            <td>{{ entry.d_address|safe }}</td>
            <td>{{ entry.a_address|safe }}</td>
            <td>{{ entry.d_date|safe }}</td>
            <td>{{ entry.a_date|safe }}</td>
            <td>{{ entry.p_date|safe }}</td>
            <td>{{ entry.cost|safe }}</td>
            <td>{{ entry.h_number|safe }}</td>
            <td>{{ entry.o_message|safe }}</td>
            <td><button type="button" class="btn btn-primary">Update</button></td>
        </tr>
    </tbody>
    {% else %}
    <li><em>Unbelievable. No entries here so far</em></li>
    {% endfor %}
    </table>
</ul>
{% endif %}
{% endblock %}