{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

<form action="{{ url_for('update_order') }}" method=post class=add-entry>
    <dl>
        <dt>Order Number:
        <dd><input type=text size=30 name=order_number value="{{ entire.order_number}}">

        <dt>Status:
        <dd><div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>

        <dt>Box Number:
        <dd><input type=text size=30 name=number_box>

        <dt>Destination Address:
        <dd><input type=datetime-local size=30 name=d_address>

        <dt>Pickup Address:
        <dd><input type=datetime-local size=30 name=a_address>

        <dt>Daparture Date:
        <dd><input type=text size=30 name=d_date>

        <dt>Arrival Date:
        <dd><input type=text size=30 name=a_date>

        <dt>Pickup Date:
        <dd><input type=text size=30 name=p_date>

        <dt>HBL Number:
        <dd><input type=text size=30 name=h_number>

        <dt>Optional Message(from customer to shipper):
        <dd><input type=text size=30 name=o_message>

        <dt>Optional Message(from shipper to collector):
        <dd><input type=text size=30 name=os_message>

        <dd><input type=submit value=Submit>
    </dl>
</form>
{% endif %}
{% endblock %}