{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_order') }}" method=post class=add-entry>
    <dl>
        <dt>Number of Box:
        <dd><input type=text size=30 name=number_box>

        <dt>Destination address:
        <dd><input type=text size=30 name=d_address>

        <dt>Pickup address:
        <dd><input type=text size=30 name=a_address>

        <dt>Daparture Date:
        <dd><input type=datetime-local size=30 name=d_date>

        <dt>Arrival Date:
        <dd><input type=datetime-local size=30 name=a_date>

        <dt>Optional Message:
        <dd><input type=text size=30 name=o_message>

        <dd><input type=submit value=Submit>
    </dl>
</form>
{% endif %}

<h3>{{ info }}</h3>
<ul class=entries>
    {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
        {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
</ul>
{% endblock %}